<% layout("layout/boilerplate") %>
    <%=user.FavColor%>
        <div class="container">
            <div class="row justify-content-center">



                <div class="box d-none d-md-block col-md-4 border border-5 border-dark-subtle p-3 me-3 rounded align-self-start"
                    style="max-width: 19rem;">
                    <div>
                        <%for( let {text,id,image:{url}, author} of avatar){%>
                            <div class="card mb-5" style="">
                                <img class="m-1" src="<%=url%>" class="rounded float-start m-2 flex-fill "
                                    style="min-width: 95%; max-width: 100%;" alt="">
                                <div class="d-none d-lg-block">
                                    <div class="card-body">
                                        <h5 class="card-title ">About Me</h5>
                                        <div class="card-body border-bottom border-secondary-subtle">
                                            <p class="card-text">
                                                <%=text%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-footer border-0 align-self-end">
                                        <%if(currentUser && author.equals(currentUser.id)){%>
                                            <button type="button" class="btn btn-outline-secondary btn-sm"
                                                data-bs-toggle="modal" data-bs-target="#avatarPutModal">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                </svg></a>
                                            </button>
                                            <%}%>
                                    </div>
                                </div>
                                <div class="d-lg-none">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#AboutMeModal">
                                            About Me
                                        </button>

                                        <div class="modal fade" id="AboutMeModal" tabindex="-1"
                                            aria-labelledby="AboutMeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="AboutMeModalLabel">About Me
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <%=text%>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="modal fade" id="avatarPutModal" tabindex="-1"
                                aria-labelledby="userAvatarPutLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="userAvatarPutLabel">Upload an Avater
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/profile/avatar/<%=id%>?_method=PUT" method="POST"
                                                enctype="multipart/form-data" class="needs-validation" novalidate>
                                                <textarea class="form-control" id="text" placeholder="" name="text"
                                                    style="height: 150px" minlength="5" maxlength="250"
                                                    required><%=text%></textarea>
                                                </textarea>
                                                <input class="form-control" name="image" type="file" id="formFile">

                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-dark">Upload</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <%}%>
                    </div>


                    <div>
                        <%if(!avatar.length){%>
                            <div class="card mb-5" style="">
                                <img class="m-1"
                                    src="https://res.cloudinary.com/dqggp5pir/image/upload/v1698336656/No_user_image_l3xbpn.jpg"
                                    class="rounded float-start m-2 flex-fill " style="min-width: 95%; max-width: 100%;"
                                    alt="">
                                <div class="card-body border-bottom border-secondary-subtle">
                                    <h5 class="card-title">About Me</h5>
                                    <p class="card-text">
                                        Tell us about you...
                                    </p>
                                </div>
                                <div class="card-footer border-0 align-self-end">
                                    <%if(currentUser && user.equals(currentUser.id)){%>
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#avatarModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                            </svg></a>
                                        </button>
                                        <%}%>
                                </div>

                            </div>
                            <%}%>

                    </div>

                    <div>
                        <%if(post.length){%>
                            <div class="card" style="min-height: 10rem;">
                                <div class="card-body border-bottom border-secondary-subtle">
                                    <%for( let {image:{url}} of post){%>
                                        <img src="<%=[url]%>" class="rounded float-start m-2 " style="max-width: 25%;"
                                            alt="">
                                        <%}%>

                                </div>



                                <div class="card-footer border-0 align-self-end">
                                    <%if(currentUser && (id===currentUser.id)){%>
                                        <button type="button" class="btn btn-sm btn-dark " data-bs-toggle="modal"
                                            data-bs-target="#imageModal">
                                            Upload new image
                                        </button>
                                        <%}%>
                                </div>





                            </div>
                            <%}%>
                    </div>

                </div>








                <div class="box col-s-9 col-md-7 border border-5 border-dark-subtle p-3 max-width-md rounded align-self-start"
                    style="max-width: 34rem;">
                    <div class="card mb-3" style="">
                        <div>
                            <h3 class="m-2">
                                Posts by <%=user.username%>
                            </h3>
                        </div>
                        <div class="m-1 align-self-end">
                            <%if(currentUser && user.equals(currentUser.id)){%>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#postModal">
                                    New Post
                                </button>
                                <%}%>


                        </div>
                    </div>
                    <%if(post.length){%>
                        <%for( let {text,id,image:{url},author} of post){%>
                            <div class="card mb-3" style="">
                                <img src="<%=url%>" class="img-fluid" alt="">
                                <%if(text){%>
                                    <div class="card-body border-bottom border-secondary-subtle">

                                        <p>
                                            <%=text%>
                                        </p>
                                    </div>
                                    <%}%>
                                        <div class="card-footer border-0 d-inline-flex align-self-end">
                                            <div>
                                                <div class=>
                                                    <%if(currentUser && author.equals(currentUser.id)){%>
                                                        <button type="button" class="btn btn-primary btn-sm me-2"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#editPostModal<%=id%>">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="bi bi-pencil"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                            </svg>
                                                        </button>
                                                        <%}%>
                                                </div>


                                                <div class="modal fade" id="editPostModal<%=id%>" tabindex="-1"
                                                    aria-labelledby="editPostLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="editPostLabel">Edit
                                                                    Post
                                                                </h1>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="<%=url%>" class="img-fluid" alt="...">
                                                                <form action="/profile/<%=id%>?_method=PUT"
                                                                    method="POST" enctype="multipart/form-data"
                                                                    class="needs-validation" novalidate>
                                                                    <div class="mt-5">
                                                                        <textarea class="form-control" id="text"
                                                                            placeholder="" name="text"
                                                                            style="height: 150px"
                                                                            maxlength="250"> <%=text%></textarea>
                                                                        </textarea>

                                                                    </div>
                                                                    <div class="mb-5">

                                                                        <input class="form-control" name="image"
                                                                            type="file" id="formFile">
                                                                    </div>



                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-primary">Save
                                                                    changes</button>
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close</button>

                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <%if(currentUser && author.equals(currentUser.id)){%>
                                                        <button type="button" class="btn btn-primary btn-sm"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#deletePostModal<%=id%>">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="bi bi-trash"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                                <path
                                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                                            </svg>
                                                        </button>
                                                        <%}%>
                                                </div>


                                                <div class="modal fade" id="deletePostModal<%=id%>" tabindex="-1"
                                                    aria-labelledby="deletePostLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="deletePostLabel">
                                                                    Are
                                                                    you
                                                                    sure
                                                                    you
                                                                    want to delete this post?
                                                                </h1>

                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="/profile/<%=id%>?_method=DELETE"
                                                                    method="POST" enctype="multipart/form-data"
                                                                    class="needs-validation" novalidate>
                                                                    <button class="btn btn-outline-warning">Delete
                                                                        Post</button>
                                                                    <button type="button"
                                                                        class="btn btn-outline-secondary"
                                                                        data-bs-dismiss="modal">Cancel</button>

                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                            </div>

                            <%}%>
                                <%}%>
                                    <div class="card" style="">
                                        <%if(!post.length){%>
                                            <div class="card-body">
                                                <form action="/profile" method="POST" enctype="multipart/form-data"
                                                    class="needs-validation" novalidate>
                                                    <div class="form-floating mt-5">
                                                        <textarea class="form-control" id="text"
                                                            placeholder="Make your first post!" name="text"
                                                            style="height: 150px" required></textarea>
                                                        </textarea>
                                                        <label for="floatingTextarea2">Make your first post!</label>
                                                        <input class="form-control" name="image" type="file"
                                                            id="formFile" required>
                                                    </div>
                                            </div>
                                            <div class="card-footer">
                                                <button class="btn btn-dark my-2">Create Post</button>
                                                </form>
                                            </div>
                                    </div>
                                    <%}%>
                </div>

            </div>
        </div>













        <script>
            (() => {
                'use strict'

                const forms = document.querySelectorAll('.needs-validation')

                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()
        </script>